body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
    background: linear-gradient(135deg, #29006f, #ff007a);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 50%;
    height: 370px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.container h2{
    font-size: 4rem;
}

input{
    height: 50px;
    width: 80%;
    margin-bottom: 15px;
}

button {
    background-color: #ff007a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #d40067;
}
