/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
    background: linear-gradient(135deg, #29006f, #ff007a);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #222;
    padding: 20px;
    color: white;
}

.sidebar h3 {
    margin-top: 0;
    font-size: 2rem;
}

.sidebar p {
    /* margin-top: 0; */
    font-size: 20px;
}

#question-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    text-align: center;
    width: 60%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 25%;
}

button {
    background-color: #ff007a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #d40067;
}

.nav-button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.nav-button.unanswered {
    background-color: #444;
}

.nav-button.answered {
    background-color: #4CAF50;
}

#question-text{
    font-size: 40px;
}

#options{
    font-size: 25px;
}

.button{
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 20px;
}
